body{
margin:0;
background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("https://images.pottermore.com/bxd3o8b291gf/2phT56DSucuUqU6Icm6mCe/b1fd2811691e41ffd1622a07eb528604/HogwartsCastle_WB_F4_HogwartsThroughTheTrees_Illust_100615_Land.jpg?w=1200");
background-size: 100% 30%;
padding: 30px 20px 20px 20px;
background-repeat: no-repeat;
font-family:Righteous;
font-size:20px;
color:white;
}
h1{
	border-bottom: 1px solid white;
}
h2
{
	font-size: 20px;
	border-bottom: 1px solid red;
	color:#111;
}
p{
	font-size:30px;
	color:black;
	border-bottom: 2px red;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left:0%;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}

#map 
{
width: 100%;
text-align: center;
padding: 1% 1% 1% 1%;
margin: 2% 1% 2% 1%;
font-family: Righteous;
}

.ic
{
  padding: 2% 10% 2% 10%;
  text-align: center;
  color: red;
  font-size: 200%;
margin: 2% 1% 2% 1%;
font-family: Righteous;
}

.headings
{
  font-family: Righteous;
  font-size: 400%;
}

#contact-us
{
  text-align: center;
  font-family: Righteous;
  font-size: 200%;
padding: 1% 1% 1% 1%;
margin: 2% 1% 2% 1%;
}
